<h2>Template Driven Form Component</h2>
<form (ngSubmit)="onSubmit()" #f="ngForm">
    <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
        <div>
            <labeL>Name</labeL>
            <input type="text" ngModel #name="ngModel" name="name"  required/>
            <span class="inputError" *ngIf="!name.valid && name.touched">Please enter the name</span>
        </div>
        <button type="button" (click)="suggestUserName()">Suggest a username</button>
        <div>
            <label>Email</label>
            <input  type="email" ngModel name="email" required email #email='ngModel'/>       
            <span class="inputError" *ngIf="!email.valid && email.touched">Please enter the email</span>
        </div>
        <div>
            <span class="userDataInvalidMsg" *ngIf="!userData.valid && userData.touched">Please enter valid user data!</span>
        </div>
    </div>
    <div *ngFor="let gender of genders">
        <label>
        <input type="radio" name="gender" ngModel [value] = "gender" />
        {{gender}}
        </label>

    </div>
    <div>
        <label>Select country </label>
        <select [ngModel]="defaultCountry" name="country" required>
            <option value="nepal">Nepal</option>
            <option value="india">India</option>
            <option value="china">China</option>
        </select>
    </div> 
    <div>
        <label>Enter message</label><br>
        <textarea name="textbox" rows="10" cols="50" [(ngModel)] = 'textBoxContent' ></textarea>
    </div>
    <div>
        You typed: {{textBoxContent}}
    </div>
    <button type="submit" [disabled]="f.invalid">Submit</button>
</form>
<hr>
<app-form-data [testForm]="formData"></app-form-data>