<div>
  <h1>This is Root App Component</h1>
  <button routerLink="tdf" routerLinkActive="active">See Template Driven Form</button>
  <button routerLink='rf' routerLinkActive="active">See Reactive Form</button>
  <button  (click)="showPersonalInfo()" routerLinkActive="active">Personal Information</button>
  <button routerLink="observable" routerLinkActive="active">Observable Practise</button>
  <button routerLink="material" routerLinkActive="active">Material</button>
  <router-outlet></router-outlet>
</div>